<header>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <nav>
    <link rel="stylesheet" href="/stylesheets/style.css">
      <ul>
          <li><a href="/game">Game</a></li>
          <li><a href="/store">Store</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/characters">Characters</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
  </nav>
</header>
