<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <nav>
      <a href="/">Home</a>
      <a href="/list">Game Page</a>
      <a href="/add-recipe">Store</a>
    </nav>
    
  </head>